/.github export-ignore
/.wordpress-org export-ignore
/.distignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/README.md export-ignore
/languages/*.po export-ignore
/languages/*.mo export-ignore
/languages/*.l10n.php export-ignore
